.DonationSuccessSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../../src/assets/cover-image/petterLife-bg-13\ 2.png');
    background-size: cover;
    height: 75vh;
    width: 100vw;
}
  
.DonationSuccessContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    width: 65%;
    height: 85%;
    margin: 2.5% 5% 2.5% 5%;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border: solid 5px rgba(0, 255, 234, 0.4);
}
  
.DonationSuccessMessage {
    font-family: serif;
    text-align: center;
    color: #69D3C4;
    font-size: 150%;
}